*{
    box-sizing: border-box;

    margin: 0px; 
    padding: 0px;

}
.ContenedorH2{
    color: cadetblue;
    border: solid 5px yellowgreen;
    width: 500px;
    height: 300px;
}

.h2-uno{
    border: solid 5px red;
    margin: 20px;
    padding: 20px;
    width: 480px;
}

.enlace {
    font-size: 50px;
    border: solid orange 3px;
    /* display: block; */
}


.contenedorEnlaces {
    width: 1000px;
    /* border: solid 10px red; */
    display: flex;
    flex-direction: column;
}
